@using CourseWork.Models
@model LookModel
@{
    bool a = true;
    string[] strings = new string[] { "Просмотр", "Автор", "Дата создания", "Рейтинг", "Перейти", "Оценка", "Проверить ответ" };
    if (Context.Request.Cookies["LG"] != null)
    {
        a = Context.Request.Cookies["LG"].Value == "ru" ? true : false;
        strings = a ? strings : new string[] { "Look", "Author", "Date of creation", "Rating", "Go over", "Rating", "Check the answer" };
    }
    ViewBag.Title = strings[0];
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<div class="page-item">
    <div class="jumbotron">
        <div class="content rounded">
            <div class="navbar navbar-expand-lg">
                <div class="navbar-collapse header-content">
                    <ul class="navbar-nav">
                        <li class="content-top">@strings[1]  @Model.CreaterName</li>
                        <li class="content-top">@strings[2]</li>
                        <li class="content-top"> @Model.Date</li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="score d-md-none">@strings[3]</li>
                        <li class="score">@Model.Rait</li>
                        <li class="rating-result d-none d-md-block">
                            @for (int i = 1; i <= Convert.ToInt32(Model.Rait); i++)
                            {
                                <span class="active"></span>
                            }
                            @for (int i = Convert.ToInt32(Model.Rait); i < 5; i++)
                            {
                                <span></span>
                            }
                        </li>
                    </ul>
                </div>
            </div>
            @*<div class="hashtags"></div>*@
            <div class="textDiv">
                @Model.TaskTexst
            </div>
            <div class="img-wrap">
                @foreach (string str in Model.Pictures)
                {
                    if (str != "")
                    {
                        <img src="@str" class="img-fluid" alt="Responsive image" />
                    }
                }
            </div>
            <div class="navbar navbar-expand-lg">
                <div class="navbar-collapse header-content">
                    @*<ul class="navbar-nav">
                            <li class="content-top"> @Html.ActionLink(strings[4], "Look", "Tasks", new { UserTaskId = Model.TaskId }, new { @class = "btn btn-secondary" })</li>
                        </ul>*@
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="score d-md-none">@strings[5]</li>
                            <li class="rating-area list-inline-item">
                                @for (int i = 5; i > 0; i--)
                                {
                                    if (i == Model.UserRait)
                                    {
                                        <input type="radio" id="star @i @Model.TaskId" name="rating @Model.TaskId" value="5" checked onclick="sendRait(@Model.TaskId,@i,@a)">
                                        <label for="star @i @Model.TaskId" title="@strings[5] «@i»"></label>
                                    }
                                    else
                                    {
                                        <input type="radio" id="star @i @Model.TaskId" name="rating @Model.TaskId" value="5" onclick="sendRait(@Model.TaskId,@i,@a)">
                                        <label for="star @i @Model.TaskId" title="@strings[5] «@i»"></label>
                                    }
                                }
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </div>
        <div class="form-inline" id="Ans">
            <textarea class="form-control mr-sm-2" id="AnsText"></textarea>
            <button class="btn btn-primary btn-lg" onclick="CheckAns(@Model.TaskId,@a)">@strings[6]</button>
        </div>
    </div>

</div>
<script>
    function CheckAns(id,l) {
        var text1 = document.getElementById('AnsText').value;
        console.log(text1)
        var data = {
            ans: text1,
            TaskId: id
        };
        $.ajax({
            type: "POST",
            url: "/Tasks/AnsChk",
            data: data,
            success: function (string) {
                if (!l) {
                    if (string == '0')
                        alert('Right!');
                    else alert('not right!');
                }
                else {
                    if (string == '0')
                        alert('Верно!');
                    else alert('Не верно!');
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest)
                console.log(textStatus)
                console.log(errorThrown)
            }

        });
    }
</script>